<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join FightClub</title>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <main class="container">
      <div>Hint:</div>
      <div>We don't talk about it</div>
      <div class="signup-container">
        <div class="card">
          <form action="/member" method="post" class="form">
            <div class="form-group">
              <label for="memberCode"
                >Enter your Secret Code to become a Member:</label
              >
              <input type="text" id="memberCode" name="memberCode" required />
              <button type="submit" class="member-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
